body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: rgba(33, 33, 33, 1);
  margin: 0 auto;
}
:root {
  --color-text-one: rgba(33, 150, 243, 1);
  --color-text-two: rgba(255, 255, 255, 1);
  --color-text-three: rgba(117, 117, 117, 1);
  --color-background-one: rgba(47, 48, 58, 1);
  --color-background-two: rgba(255, 255, 255, 1);
  --color-background-three: rgba(33, 150, 243, 1);
  --color-background-four: rgba(245, 244, 250, 1);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-block: 94px;
}
.section-only-bottom-padding {
  padding-bottom: 94px;
}
.background-head .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
ul,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}
.nav-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  flex-grow: 1;
}

.contact-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--color-text-three);
}
.head-primary-style {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-text-two);
  text-align: center;
  width: 696px;
}
.background-head {
  background-color: var(--color-background-one);
  padding-block: 200px;
  margin: 0 auto;
}
.button-style-head {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.06em;
  color: var(--color-text-two);
}
.button-background-head {
  background-color: var(--color-background-three);
  padding: 10px 41px 10px 42px;
}
.article {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}
.article li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.article h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.article p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--color-text-three);
}
.head-secondary-style {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  text-align: center;
}
.background-our-team {
  background-color: var(--color-background-four);
}
.background-footer {
  background-color: var(--color-background-one);
  padding-block: 60px;
}
.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.person-tittle {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--color-text-three);
  text-align: center;
}
.adress-style {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--color-text-two);
  margin-bottom: 9px;
}
.contact-style-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.logo-style {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: rgba(0, 0, 0, 1);
}
.logo-style-two {
  font-family: Oleo Script;
  font-weight: normal;
  color: rgba(33, 150, 243, 1);
}
.logo-margin {
  margin: 24px 93px 25px 0px;
}
a:hover,
a:focus {
  color: var(--color-text-one);
}
button {
  cursor: pointer;
}
button:hover,
button:focus {
  background-color: var(--color-background-three);
  color: var(--color-text-two);
}
.button-style-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;

  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}
.background-button-filter {
  background-color: var(--color-background-four);
  padding: 6px 22px;
}
.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-text-three);
}
.flex {
  display: flex;
  align-items: center;
}
.nav-style .flex {
  display: flex;
  gap: 46px;
}
.contact-style .flex {
  display: flex;
  gap: 50px;
}
.flex-image {
  display: flex;
  gap: 17px;
}
.flex-image img {
  display: block;
}
.gap-image {
  display: flex;
  gap: 30px;
}

.personal {
  display: flex;
  flex-direction: column;
  padding-block: 30px;
  gap: 10px;
}
.flex img {
  display: block;
}
footer .logo-style {
  display: inline-block;
  margin-bottom: 20px;
}
