body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: rgba(33, 33, 33, 1);
  margin: 0 auto;
}
:root {
  --color-text-one: rgba(33, 150, 243, 1);
  --color-text-two: rgba(255, 255, 255, 1);
  --color-text-three: rgba(117, 117, 117, 1);
  --color-background-one: rgba(47, 48, 58, 1);
  --color-background-two: rgba(255, 255, 255, 1);
  --color-background-three: rgba(33, 150, 243, 1);
  --color-background-four: rgba(245, 244, 250, 1);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
    padding-block: 94px;
}
.background-head .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
ul,
a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    margin:0;
    padding: 0;
}
h1,
h2 {
    margin: 0;
    padding: 0;
}
.nav-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  flex-grow: 1;
}

.contact-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--color-text-three);
}
.head-primary-style {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-text-two);
  text-align: center;
  width:696px;
  height:120px;
}
.background-head {
  background-color: var(--color-background-one);
  padding-block: 200px;
  margin: 0 auto;
}
.button-style-head {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.06em;
  color: var(--color-text-two);
}
.button-background-head {
  background-color: var(--color-background-three);
}
.article {
    display: flex;
    gap:30px;
    padding-bottom: 94px;
}
.article li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.article h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.article p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--color-text-three);
}
.head-secondary-style {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.background-our-team {
  background-color: var(--color-background-four);
}
.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.person-tittle {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--color-text-three);
}
.adress-style {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--color-text-two);
}
.contact-style-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.logo-style {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: rgba(0, 0, 0, 1);
}
.logo-style-two {
  font-family: Oleo Script;
  font-weight: normal;
  color: rgba(33, 150, 243, 1);
}
.logo-margin {
    margin: 24px 93px 25px 0px;
}
a:hover,
a:focus {
  color: var(--color-text-one);
}
button {
  cursor: pointer;
}
button:hover,
button:focus {
  background-color: var(--color-background-three);
  color: var(--color-text-two);
}
.button-style-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button-style-fiter button {
  background-color: var(--color-background-four);
}
.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-text-three);
}
.flex {
    display: flex;
    align-items: center;
}
.nav-style .flex {
    display: flex;
    gap: 46px;
}
.contact-style .flex {
    display: flex;
    gap: 50px;
}
.flex-image {
    display: flex;
    gap: 17px;
}