body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: rgba(33, 33, 33, 1);
}
:root {
    --color-text-one:rgba(33, 150, 243, 1);
    --color-text-two:rgba(255, 255, 255, 1);
    --color-text-three:rgba(117, 117, 117, 1);
    --color-background-one:rgba(47, 48, 58, 1);
    --color-background-two:rgba(255, 255, 255, 1);
    --color-background-three:rgba(33, 150, 243, 1);
    --color-background-four:rgba(245, 244, 250, 1);
}
.nav-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contact-style {
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;

color: var(--color-text-three)

}
.head-primary-style {
font-weight: 900;
font-size: 44px;
line-height: 1.4;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--color-text-two);
}
.background-head {
    background-color: var(--color-background-one);
}
.button-style-head {
font-weight: bold;
font-size: 16px;
line-height: 1.9;


letter-spacing: 0.06em;
color: var(--color-text-two);
}
.button-background-head {
    background-color: var(--color-background-three) ;
}
.article h3 {
font-weight: bold;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;

}
.article p {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color: var(--color-text-three);

}
.head-secondary-style {
font-weight: bold;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.03em;

}
.background-our-team {
    background-color: var(--color-background-four);
}
.person-name {
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;

}
.person-tittle {
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;

color: var(--color-text-three);
}
.adress-style {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
    color: var(--color-text-two);
}
.contact-style-footer {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.logo-style {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
    color: rgba(0, 0, 0, 1);
}
.logo-style-two {
    font-family: Oleo Script;
    font-weight: normal;
    color: rgba(33, 150, 243, 1);
}
a:hover,
a:focus {
    color: var(--color-text-one);
}
button {
    cursor: pointer;
}
button:hover,
button:focus {
background-color: var(--color-background-three);
color: var(--color-text-two);
}
.button-style-filter {
font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;

}
.button-style-fiter button{
    background-color: var(--color-background-four);
}
.project-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}
.project-type {
    font-size: 16px;
    line-height: 1.9;
   letter-spacing: 0.03em;
    color: var(--color-text-three);
}